table, th, td {
	border: 1px solid #e1e4e8;
	/*border-radius: 3px;*/
	padding: 6px;
}

th {
	background-color: #f1f8ff;
	border-color: #c8e1ff;
	border-bottom-width: 0;
}

tr:nth-child(even) {
	background-color: #f6f8fa;
}
